#nav-1:hover,
#nav-2:hover,
#nav-3:hover,
#nav-4:hover {
    color: black;
    background: #03e9f4;
}

.Search-G {
    background-color: #008CBA;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.Search-G:hover {
    color: black;
    background: #03e9f4;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #2292E4;
}
